<!DOCTYPE html>
<html>
<head>

  <link type="text/css" href="/stylesheets/base.css" rel="stylesheet">
  <link type="text/css" href="/stylesheets/config.css" rel="stylesheet">

  <script>
  </script>

</head>

<body>
	<h3>Команды управления через SMS</h3>
	<div>

	<table>
		<tr>
			<th>Команда</th>
			<th>Описание</th>
		</tr>
		<tr>
			<td>config</td>
			<td>Обновить конфигурацию</td>
		</tr>
		<tr>
			<td>gps off</td>
			<td>Выключить только GPS-модуль</td>
		</tr>
		<tr>
			<td>gps on</td>
			<td>Включить только GPS-модуль</td>
		</tr>
		<tr>
			<td>reboot</td>
			<td>Перезагрузить устройство</td>
		</tr>
		<tr>
			<td>power off</td>
			<td>Отключить устройство</td>
		</tr>
		<tr>
			<td>fwupdate</td>
			<td>Обновить внутреннее программное обеспечение</td>
		</tr>
		<tr>
			<td>gsm reboot</td>
			<td>Перезапустить GSM-модуль</td>
		</tr>
		<tr>
			<td>iparam параметр значение</td>
			<td>Установить значение параметра</td>
		</tr>
		<tr>
			<td>iparam gsm.server 1</td>
			<td>Переключиться на сервер <span title="http://www.piligrim-gps.ua/">Пилигрим</span></td>
		</tr>
		<tr>
			<td>iparam gsm.server 0</td>
			<td>Переключиться на сервер Google</td>
		</tr>
		<tr>
			<td>iparam gsm.apn 0</td>
			<td>Настроить точку доступа для оператора Киевстар-предоплаченый.</td>
		</tr>
		<tr>
			<td>iparam gsm.apn 1</td>
			<td>Настроить точку доступа для оператора Киевстар-контракт.</td>
		</tr>
		<tr>
			<td>iparam gsm.apn 7</td>
			<td>Настроить точку доступа для оператора Utel.</td>
		</tr>
		<tr>
			<td>iparam gsm.apn 8</td>
			<td>Настроить точку доступа для оператора Киевстар 3G.</td>
		</tr>
		<tr>
			<td>out on  <i>или</i>  iparam out.1 1</td>
			<td>Активировать выход.</td>
		</tr>
		<tr>
			<td>out off  <i>или</i>  iparam out.1 0</td>
			<td>Деактивировать выход.</td>
		</tr>
		<tr>
			<td>iparam out.1 8</td>
			<td>Включить режим контроля датчика движения.</td>
		</tr>

	</table>

	</div>
</body>
</html>
