{% extends "_base.html" %}

{% block head %}

  <link type="text/css" href="/stylesheets/map.css" rel="stylesheet" />

  <!--script type="text/javascript" src="/plugins/jquery-ui-1.8.7/jquery-ui-1.8.7/ui/jquery.ui.datepicker.js"></script-->
  <!-- Нужен небольшой патч датепикера чтобы не обновлял дни при выборе даты -->
  <script type="text/javascript" src="/js/jquery.ui.datepicker.js"></script>
  <script type="text/javascript" src="/js/jquery.ui.datepicker-ru.js"></script>

  <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>

  <!--link type="text/css" href="/plugins/cusel/css/cusel.css" rel="stylesheet" /-->
  <!--script type="text/javascript" src="/plugins/cusel/js/cusel-min-2.3.1.js"></script-->

  <script src="/js/base.js"></script>
  <script src="/js/mymarker.js"></script>
  <script src="/js/map.js"></script>

  <script>

	var sys_key = "{{ account.systems.0.key }}";
	var cur_month;

	var params = {
		changedEl: "select",
		//visRows: 5,
		scrollArrows: true
	}

	function UpdateDayList(){
		//ul_sys
		//$("#daylist").css('display', 'none');
		//$("#daylist").fadeOut();

		var date = $("#datepicker").datepicker('getDate');
		if(!cur_month) cur_month = $.datepicker.formatDate('yymm', date);
		//if(date.getMonth()<9) dm = '' + date.getFullYear() + '0' + (date.getMonth()+1);
		//else dm = '' + date.getFullYear() + (date.getMonth()+1);
		console.log('Update for sys ' + sys_key + ' and month ' + cur_month);

		DayList(sys_key, cur_month);
		//$("#daylist").css('display', '');
	}

	$(document).ready(function() {
		$(document).disableSelection();
		CreateMap();

		$("#nav_map").button("option", "disabled", true);

		$("#ul_sys li").click(function(){
			sys_key = this.attributes['value'].value;
			UpdateDayList();
		});

		$.datepicker.setDefaults( $.datepicker.regional[ "ru" ] );
		$("#datepicker").datepicker({altField: "#alternate",
			altFormat: "yymmdd",
			minDate: '-12m +0w',
			maxDate: '+0m +0w',
			hideIfNoPrevNext: true,
			onSelect: function(dateText, inst) {
				//console.log(inst);
				//console.log(date_to_url(dateText));
				//var start = date_to_url(dateText) + '000000'; //inst.currentYear, inst.currentMonth, inst.currentDay, '000000');
				//var stop = date_to_url(dateText) + '235959'; //inst.currentYear, inst.currentMonth, inst.currentDay, '235959');
				//genReport($('#my_syslist').attr('value'), start, stop);
				
				SetDay(sys_key, date_to_url(dateText));

				//console.log(dateText);
				//console.log(inst);
			},
			onChangeMonthYear: function(year, month, inst) {
				cur_month = '' + year + ((month<10)?('0'+month):month);
				UpdateDayList();
				//console.log(year);
				//console.log(month);
				//console.log(inst);
			}
		});
		/*
		$("#date_select table tbody a").each(function(index){
			//console.log(index + ' : ' + $(this).text());
			if(index % 5) $(this).css('opacity', '0.2');
		});
		*/
		/*
		$("button").button();
		$(".btn_menu:first").button({icons: {primary: "ui-icon-info"}}).
		next().button({icons: {primary: "ui-icon-alert"}}).
		next().button({icons: {primary: "ui-icon-document"}}).
		next().button({icons: {primary: "ui-icon-gear"}}).
		next().button({icons: {primary: "ui-icon-help"}});
		*/

		/*
		$("#get_a_path").click(function(){
			var skey = sys_key; // aglncHMtbWFwczJyIQsSCERCU3lzdGVtIhNzeXNfMzU2ODk1MDM1Mzc2MjQ2DA";
			var from = "01012010000000";
			var to = "31122010000000";
			GetPath(skey, from, to);
		});
		*/
		/*
		$("#clear_a_path").click(function(){
			var skey = sys_key;// aglncHMtbWFwczJyIQsSCERCU3lzdGVtIhNzeXNfMzU2ODk1MDM1Mzc2MjQ2DA";
			ClearPath(skey);
		});
		*/
		$("#get_a_days").click(function(){
			//var skey = sys_key;// aglncHMtbWFwczJyIQsSCERCU3lzdGVtIhNzeXNfMzU2ODk1MDM1Mzc2MjQ2DA";
			//DayList(skey);
			UpdateDayList(sys_key);
		});

		$("#syslist li").click(function(){
			//console.log('ok +', this.attributes['imei']);
			//sys_key = this.attributes['imei'].value;
			//DayList(sys_key);
			UpdateDayList(this.attributes['imei'].value);
		});

		//cuSel(params);
		GetLastPositions("{{ account.key }}");

		UpdateDayList(sys_key);
		//cuSel(params);
		//$("#

		$("#map-type").buttonset();
		$(".btn_map_type").change(function(){
			console.log($(this).attr("id"));
			switch($(this).attr("id")){
				case 'btn_map': {map.setMapTypeId(google.maps.MapTypeId.ROADMAP); break }
				case 'btn_sat': {map.setMapTypeId(google.maps.MapTypeId.SATELLITE); break }
				case 'btn_hybr': {map.setMapTypeId(google.maps.MapTypeId.HYBRID); break }
				case 'btn_terr': {map.setMapTypeId(google.maps.MapTypeId.TERRAIN); break }
			}
			
		});

	});

	function UpdateGroupList(){
		var group = $('#group_list').attr('value');
		console.log('Select group:' + group);
	}


  </script>

  <style>
	#syslist {list-style-type: none; margin: 0; padding: 0;}
	#syslist li { border: 1px solid black; margin: 3px 3px 3px 3px; padding: 1px; float: left; width: 16px; height: 16px; font-size: 1em; text-align: center; }
	#syslist li:hover { background-color: lime;}

	.cusel {z-index: 10 !important;}

	.ui-datepicker {
		/*padding: 0px 0px 0px 0px;*/
		width: 98%;
	}

	.ui-datepicker th, .ui-datepicker td {
		padding-left: 0px;
		padding-right: 0px;
	}
	.ui-datepicker td span, .ui-datepicker td a {
		padding: 0px 0px 0px 0px;
		/*padding-right: 0px;*/
	}
        /*
	table.ui-datepicker-calendar {
		padding: 0px 0px 0px 0px;
	}*/

  </style>
{% endblock %}

{% block body %}

	<div id="map" style=""></div>
	<div id="map-type" style="position: absolute; right:220px; top:10px;">
		<input type="radio" class="btn_map_type" id="btn_map" name="map_type" checked="checked" /><label for="btn_map">Карта</label>
		<input type="radio" class="btn_map_type" id="btn_sat" name="map_type" /><label for="btn_sat">Спутник</label>
		<input type="radio" class="btn_map_type" id="btn_hybr" name="map_type" /><label for="btn_hybr">Гибрид</label>
		<input type="radio" class="btn_map_type" id="btn_terr" name="map_type" /><label for="btn_terr">Рельеф</label>
	</div>
	<div id="controls">
		<div id="mark1" style="display: inline;">M1</div>
		<div id="mark2" style="display: inline;">M2</div>
		<div id="point_info" style="display: inline;">M2</div>

	</div>
	<div id="panel">
		<div style="position: absolute; width:100%; top: 0px; height: 24px;">
			<select id="group_list" name="group_list" style="width:100%;" title="Группа" onchange="UpdateGroupList();">
				<option value="*">Все</option>
				<option value="Личные">Личные</option>
				<option value="Грузовые">Грузовые</option>
			</select>

		</div>
		<div style="position: absolute; top: 24px; bottom: 180px; left:0px; right: 0px; overflow-x: hidden; overflow-y: auto;">
		<!--Системы:-->
			<!--ul id="syslist">
				{% for sys in account.systems %}
				<li title="{{ sys.imei }}: {{ sys.desc }}" imei="{{ sys.key }}">.</li>
				{% endfor %}
			</ul-->
			<!--select id="my_syslist" name="my_syslist" style="width:100%;" onchange="UpdateDayList($('#my_syslist').attr('value'));">
				{% for sys in account.systems %}
				<option imei="{{ sys.imei }}" value="{{ sys.key }}">{{ sys.desc }}</option>
				{% endfor %}
			</select-->
			<ul id="ul_sys">
				{% for sys in account.systems %}
				<li class="ui-widget ui-state-default" imei="{{ sys.imei }}" value="{{ sys.key }}">{{ sys.desc }}</li>
				{% endfor %}
			</ul>
		</div>
		<!--button id="get_a_days">Обновить список</button-->
		<!--div id="daylist">
			<h3>None</h3>
		</div-->
		<div id="date_select" style="float: bottom; position: absolute; bottom: 0px; width: 100%; height: 180px;">
			<div id="datepicker"></div>
		</div>
	</div>
{% endblock %}
