{% extends "_base.html" %}

{% block head %}
  <link type="text/css" href="/stylesheets/reports.css" rel="stylesheet">

  <script type="text/javascript" src="/js/jquery.ui.datepicker-ru.js"></script>
  <script type="text/javascript" src="/js/base.js"></script>
  <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>

  <script>
	var geocoder;

	var adrlist = [];

	function getGeocode(adrlist, i, recur) {
		//console.log(adrlist[i]);
		console.log('geoget at ' + i);
		if(adrlist[i].stop) console.log('stop: ' + i);

		geocoder.geocode({'latLng': new google.maps.LatLng(adrlist[i].pos[0], adrlist[i].pos[1]) }, function(results, status) {
			if(adrlist[i].stop) {console.log('stop2: ' + i); return;}
    			if (status == google.maps.GeocoderStatus.OK) {
				var address = geocode_to_addr(results);
				$('#'+adrlist[i].id).html(address);
				delete adrlist[i];
				//console.log(adrlist.some());
				var empty = true;
				for(var j in adrlist) {empty = false; break;}
				if(empty == true){
					$(".control").show();
				}

			} else {
				if(recur) {
					adrlist[i].cb = setTimeout(function(){getGeocode(adrlist, i, recur-1)}, 3000);
				} else {
					console.log('Error geocoding at ' + i + ' with ');
				}
			}
		});

	}

	function genReport(skey, start, stop) {
		$(".control").hide();
		for(var i in adrlist) { clearInterval(adrlist[i].cb); adrlist[i].stop = true; }
		$( "#report tbody" ).empty();

		url = "/api/report/get?skey="+skey+"&from="+start+"&to="+stop;
		$.getJSON(url, function (data) {
			//$("#progress").html("Обрабатываем...");
			console.log("getJSON parce");
			if (data.answer == 'ok') {
				//ParcePath(data);
				console.log("Show report...");
				var tbody = $( "#report tbody" );
				//console.log(tbody);
				adrlist = [];
				for(var i in data.report){
					var ad_id = 'ad_' + i;
					var rec = data.report[i];
					var tp;

					switch(rec.type){
						case 'move': {tp = 'Движение ' + ln_to_km(rec.length); break}
						case 'stop': {
							//var rdiv = $('div');
							//console.log(rdiv);
							if(rec.duration < 5*60) tp = 'Остановка';
							else tp = 'Стоянка';
							adrlist.push({pos: rec.start.pos, id: ad_id, stop: false});

							tp += ' <span id="' + ad_id + '" title="Дождитесь окончания обновления">' + rec.start.pos + '</span>';
							break
						}
						default: {tp = 'Неизвестное событие (' + rec.type + ')'}
					}
					
					tbody.append( "<tr>" +
						"<td>" + start + "</td>" + 
						"<td>" +
						'	<button class="ctl" style="float: left;"><span class="ui-icon ui-icon-cancel" title="Убрать из отчета информацию о движении"></span></button>' +
						'	<button class="ctl" style="float: left;"><span class="ui-icon ui-icon-locked" title="Оставить в отчете только информацию о движении"></span></button>' +
						'	<button class="ctl" style="float: left;"><span class="ui-icon ui-icon-zoomin" title="Показать этот путь на карте"></span></button>' +
						tp + "</td>" + 
						"<td>" + dt_to_time(rec.start.time) + ' - ' + dt_to_time(rec.stop.time) + "</td>" +
						"<td>" + td_to_hms(rec.duration) + "</td>" +
						"<td>" + rec.length + "</td>" +
					"</tr>" );
					
				}
				console.log(adrlist);
				for(i in adrlist){
					var ci = i;
					//console.log(i);
					(function(i) {
						adrlist[i].cb = setTimeout(function(){getGeocode(adrlist, i, 10)}, 1000);
						//getGeocode(adrlist, i, 10);
					})(i);
				}

				$('.ctl').button({ disabled: true });
			}
		});

		

	}
	function purgeReport() {
		$( "#report tbody" ).empty();
	}

	function date_to_url(ymd) {
		return ymd.slice(8,10) + ymd.slice(3,5) + ymd.slice(0,2);
	}

	$(function(){
		geocoder = new google.maps.Geocoder();
		$("#nav_reports").button("option", "disabled", true);

		$('.control').button();

		$.datepicker.setDefaults( $.datepicker.regional[ "ru" ] );
		/*$( "#datepicker" ).datepicker($.datepicker.regional[ "ru" ], {altField: "#alternate",
			altFormat: "DD, d MM, yy"});*/
		$( "#datepicker" ).datepicker({altField: "#alternate",
			altFormat: "DD, d MM, yy",
			onSelect: function(dateText, inst) {
				//console.log(inst);
				console.log(dateText);
				var start = date_to_url(dateText) + '000000'; //inst.currentYear, inst.currentMonth, inst.currentDay, '000000');
				var stop = date_to_url(dateText) + '235959'; //inst.currentYear, inst.currentMonth, inst.currentDay, '235959');
				genReport($('#my_syslist').attr('value'), start, stop);
				//console.log(dateText);
				//console.log(inst);
			}
		});

		$('#control_day').click(function(){
			//alert('bu');
		});
	});
  </script>

  <style>
	.ctl .ui-button-text {
		padding: 0px 0px 0px 0px !important;
	}
	.ctl{
		margin: 0px 1px 0px 0px;
	}

  </style>

{% endblock %}

{% block body %}
	Cистема: <select id="my_syslist" name="my_syslist" style="width:auto;" onchange="purgeReport();">
		{% for sys in account.systems %}
		<option imei="{{ sys.imei }}" value="{{ sys.key }}">{{ sys.desc }}</option>
		{% endfor %}
	</select>

	<div>

	<button class="control" id="control_day">Отчет за сутки: <input type="text" id="datepicker" size="10"/><input type="text" id="alternate" size="30"/></button>
	<button class="control" id="control_week">Отчет за неделю</button>
	<button class="control">Отчет за интервал времени</button>


	<h3>Комплексный отчет:</h3>
	<table id="report" class="ui-widget ui-widget-content">
		<thead>
			<tr class="ui-widget-header ">
				<th>Дата</th>
				<th>Действие</th>
				<th>Период</th>
				<th>Время</th>
				<th>Дистанция</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>

	<h3>Всего:</h3>

	<table id="total" class="ui-widget ui-widget-content">
		<thead>
			<tr class="ui-widget-header ">
				<th>Дата</th>
				<th>Контролируемые параметры</th>
				<th>Результат</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>26.07.2010</td>
				<td>Пройденная дистанция</td>
				<td>0 км</td>
			</tr>
			<tr>
				<td>26.07.2010</td>
				<td>Общее время в пути</td>
				<td>4 ч</td>
			</tr>
			<tr>
				<td>26.07.2010</td>
				<td>Средняя скорость движения</td>
				<td>0 км/ч</td>
			</tr>
			<tr>
				<td>26.07.2010</td>
				<td>Средняя скорость с учетом остановок</td>
				<td>0 км/ч</td>
			</tr>
			<tr>
				<td>26.07.2010</td>
				<td>Общее время остановок</td>
				<td>0 мин</td>
			</tr>
			<tr>
				<td>26.07.2010</td>
				<td>Общее время стоянок</td>
				<td>1 час 5 мин</td>
			</tr>
		</tbody>
	</table>

	</div>
{% endblock %}
