<html>

  <link type="text/css" href="/stylesheets/map.css" rel="stylesheet" />

  <script>
	var params = {
		changedEl: "select",
		//visRows: 5,
		scrollArrows: true
	}

	function UpdateDayList(){
		var date = $("#datepicker").datepicker('getDate');
		if(!config.cur_month) config.cur_month = $.datepicker.formatDate('yymm', date);
		console.log('Update for sys ' + config.skey + ' and month ' + config.cur_month);

		DayList(config.skey, config.cur_month);
	}

	$(document).ready(function() {
		config.cur_month = null;
		//$(document).disableSelection();
		//$('*').not('input').disableSelection();
		//$("input").enableSelection();
		//$('div').disableSelection();
		//$('#int_select').unbind('selectstart');
		CreateMap();

		$("#date_tabs").tabs();
		$("#nav_map").button("option", "disabled", true);

		$("#ul_sys li").click(function(){
			$("#ul_sys li").removeClass('ui-state-highlight');
			$(this).addClass('ui-state-highlight');
			config.skey = this.attributes['skey'].value;
			UpdateDayList();
		});

		$.datepicker.setDefaults( $.datepicker.regional[ "ru" ] );
		$("#datepicker").datepicker({altField: "#alternate",
			altFormat: "yymmdd",
			minDate: '-12m +0w',
			maxDate: '+0m +0w',
			hideIfNoPrevNext: true,
			onSelect: function(dateText, inst) {
				SetDay(config.skey, date_to_url(dateText));
			},
			onChangeMonthYear: function(year, month, inst) {
				cur_month = '' + year + ((month<10)?('0'+month):month);
				UpdateDayList();
			}
		});
		
		$("#get_a_days").click(function(){
			UpdateDayList(config.skey);
		});

		$("#syslist li").click(function(){
			UpdateDayList(this.attributes['imei'].value);
		});

		//GetLastPositions("{{ account.key }}");
		GetLastPositions(config.akey);

		UpdateDayList(config.skey);

		$("#map-type").buttonset();
		$(".btn_map_type").change(function(){
			console.log($(this).attr("id"));
			switch($(this).attr("id")){
				case 'btn_map': {map.setMapTypeId(google.maps.MapTypeId.ROADMAP); break }
				case 'btn_sat': {map.setMapTypeId(google.maps.MapTypeId.SATELLITE); break }
				case 'btn_hybr': {map.setMapTypeId(google.maps.MapTypeId.HYBRID); break }
				case 'btn_terr': {map.setMapTypeId(google.maps.MapTypeId.TERRAIN); break }
			}
			
		});
		$('div#carselect ul li span').click(function(){
			var skey = $(this).attr('skey');
			//console.log(lastpos[skey]);
			map.panTo(lastpos[skey].position);
		});
		$('div#carselect ul li').mouseover(function(){
			var skey = $(this).attr('skey');
			$('.lastmarker').removeClass('lastup');
			$('.lastmarker[skey="' + skey + '"]').addClass('lastup');

		});
		$('div#carselect ul li').mouseout(function(){
			$('.lastmarker[skey="' + $(this).attr('skey') + '"]').removeClass('lastup');
		});

	});

	function UpdateGroupList(){
		var group = $('#group_list').attr('value');
		console.log('Select group:' + group);
	}



  </script>

<body>
	<div id="map"></div>

	<div id="controls">
		<div id="mark1" style="display: inline;">M1</div>
		<div id="mark2" style="display: inline;">M2</div>
		<div id="point_info" style="display: inline;">M2</div>

	</div>

	<div id="panel">
		<div id="groupselect">
			<select id="group_list" name="group_list" style="width:100%;" title="Группа" onchange="UpdateGroupList();">
				<option value="*">Все</option>
				<option value="Личные">Личные</option>
				<option value="Грузовые">Грузовые</option>
			</select>

		</div>
		<div id="carselect" class="nosel">
			<ul id="ul_sys">
				{% for sys in account.systems %}
				<li class="ui-widget ui-state-default" imei="{{ sys.imei }}" skey="{{ sys.key }}">
					<span class="ui-icon ui-icon-zoomin" skey="{{ sys.key }}" title="Центровать последнее положение на карте"></span>
					{{ sys.desc }}
				</li>
				{% endfor %}
			</ul>
		</div>
		<!--button id="get_a_days">Обновить список</button-->
		<!--div id="daylist">
			<h3>None</h3>
		</div-->
		<div id="date_tabs" style="">
			<ul>
				<li><a href="#date_select">Сутки</a></li>
				<li><a href="#int_select">Интервал</a></li>
			</ul>
			<div id="date_select" class="nosel">
				<div id="datepicker"></div>
			</div>
			<div id="int_select">
				<table class="int_select">
				<tr><td>c:</td><td><input type="text" id="dp1" size="10"/></td><td><input type="text" id="tm1" size="8"/></td></tr>
				<tr><td>по:</td><td><input type="text" id="dp2" size="10"/></td><td><input type="text" id="tm2" size="8"/></td></tr>
				</table>
				<div style="text-align: center;"><button>Показать</button></div>
				<p style="text-align: center; color: red;">В разработке!!!</p>
				
			</div>
		</div>
	</div>

</body>

</html>
