<html>
<head>
  <style>
	.ui-tabs .ui-tabs-panel {
		padding: 0;
	}

	div#customcss {
		background-color: yellow;
	}
  </style>
  <script>
	$(document).ready(function() {
		console.log('Загрузка закладки. Конфигурация.');
	});
  </script>

</head>
<body>

Конфигурация

<div id="customcss"> Локальный id и стиль оформления </div>

Длинная таблица со скроллингом.

<button>Кнопка</button>

<table>
<tr><td>AAAAAAAA</td><td>BBBBBBBB</td><td>CCCCCCCCCCC</td></tr>
<tr><td>DDDDDDDDDD</td><td>EEEE</td><td>FFFFFFFFF</td></tr>
<tr><td>ПАППАПВПУКЕКУ</td><td>2342342344</td><td>----------</td></tr>
<tr><td>AAAAAAAA</td><td>BBBBBBBB</td><td>CCCCCCCCCCC</td></tr>
<tr><td>DDDDDDDDDD</td><td>EEEE</td><td>FFFFFFFFF</td></tr>
<tr><td>ПАППАПВПУКЕКУ</td><td>2342342344</td><td>----------</td></tr>
<tr><td>AAAAAAAA</td><td>BBBBBBBB</td><td>CCCCCCCCCCC</td></tr>
<tr><td>DDDDDDDDDD</td><td>EEEE</td><td>FFFFFFFFF</td></tr>
<tr><td>ПАППАПВПУКЕКУ</td><td>2342342344</td><td>----------</td></tr>
<tr><td>AAAAAAAA</td><td>BBBBBBBB</td><td>CCCCCCCCCCC</td></tr>
<tr><td>DDDDDDDDDD</td><td>EEEE</td><td>FFFFFFFFF</td></tr>
<tr><td>ПАППАПВПУКЕКУ</td><td>2342342344</td><td>----------</td></tr>
<tr><td>AAAAAAAA</td><td>BBBBBBBB</td><td>CCCCCCCCCCC</td></tr>
<tr><td>DDDDDDDDDD</td><td>EEEE</td><td>FFFFFFFFF</td></tr>
<tr><td>ПАППАПВПУКЕКУ</td><td>2342342344</td><td>----------</td></tr>
<tr><td>AAAAAAAA</td><td>BBBBBBBB</td><td>CCCCCCCCCCC</td></tr>
<tr><td>DDDDDDDDDD</td><td>EEEE</td><td>FFFFFFFFF</td></tr>
<tr><td>ПАППАПВПУКЕКУ</td><td>2342342344</td><td>----------</td></tr>
<tr><td>AAAAAAAA</td><td>BBBBBBBB</td><td>CCCCCCCCCCC</td></tr>
<tr><td>DDDDDDDDDD</td><td>EEEE</td><td>FFFFFFFFF</td></tr>
<tr><td>ПАППАПВПУКЕКУ</td><td>2342342344</td><td>----------</td></tr>
<tr><td>AAAAAAAA</td><td>BBBBBBBB</td><td>CCCCCCCCCCC</td></tr>
<tr><td>DDDDDDDDDD</td><td>EEEE</td><td>FFFFFFFFF</td></tr>
<tr><td>ПАППАПВПУКЕКУ</td><td>2342342344</td><td>----------</td></tr>
<tr><td>AAAAAAAA</td><td>BBBBBBBB</td><td>CCCCCCCCCCC</td></tr>
<tr><td>DDDDDDDDDD</td><td>EEEE</td><td>FFFFFFFFF</td></tr>
<tr><td>ПАППАПВПУКЕКУ</td><td>2342342344</td><td>----------</td></tr>
<tr><td>AAAAAAAA</td><td>BBBBBBBB</td><td>CCCCCCCCCCC</td></tr>
<tr><td>DDDDDDDDDD</td><td>EEEE</td><td>FFFFFFFFF</td></tr>
<tr><td>ПАППАПВПУКЕКУ</td><td>2342342344</td><td>----------</td></tr>
</table>

</body>

