<!DOCTYPE html>
<html>
<head>
</head>
<body>

Отчеты.

<div style="width: 50%;">
  Построить отчет:
  <ul>
  	<li>сутки.</li>
  	<li>неделю</li>
  	<li>месяц</li>
  	<li>за период</li>
  </ul>
  День

<button id="getter">Get Option</button>


  <div id="slidermin">MIN</div>
  <div id="slider"></div>

  <table id="le_table"></table>
  <div id="le_tablePager"></div>

</div>


<script>
$(function() {
	$("#slider").slider({
		range: true,
		values: [17, 67],
		slide: function(event, ui){
			$("#slidermin").html(ui.values[0] + '-' + ui.values[1]);
		}
	});
	$(function() {
		$("button").button();
		$( "#getter" ).click(
			function() {
				path = '/debug/msg?uid={{ account.user.user_id }}';
				var xhr = new XMLHttpRequest();
				xhr.open('POST', path, true);
				xhr.send();

				console.log("Press getter.");
				return false;
			}
		);
	});
/*
jQuery("#le_table").jqGrid({        
    scroll: 1,
   	url:'bigset.php',
	datatype: "json",
	height: 255,
	width: 600,
   	colNames:['Index','Name', 'Code'],
   	colModel:[
   		{name:'item_id',index:'item_id', width:65},
   		{name:'item',index:'item', width:150},
   		{name:'item_cd',index:'item_cd', width:100}
   	],
   	rowNum:100,
   	mtype: "GET",
	rownumbers: true,
	rownumWidth: 40,
	gridview: true,
   	pager: '#pscrolling',
   	sortname: 'item_id',
    viewrecords: true,
    sortorder: "asc",
	caption: "Loading data while scrolling"	
});*/

	$('#le_table').jqGrid({
	   url:'/api/debug_jqGrid',
	   datatype: 'json',
	   height: 255,
	   width: 900,
	   mtype: 'GET',
	   colNames:['Время', 'Долгота', 'Широта', 'Скорость'],
	   colModel :[
	     {name:'dt', index:'dt', width:150},
	     {name:'la', index:'la', width:100},
	     {name:'lo', index:'lo', width:100},
	     {name:'sp', index:'sp', width:100}],
          scroll: 1,
	  rowNum: 100,
	  pager: '#le_tablePager',
	  rownumbers: true,
          rownumWidth: 40,
          gridview: true,
	  //rowList:[10,20,30,100],
          viewrecords: true,
	  sortname: 'dt',
	  sortorder: 'asc',
	 caption: "Данные GPS",
	  toolbar: [true,"bottom"],
	loadComplete: function() {
		var udata = $("#le_table").jqGrid('getUserData');
		$("#t_le_table").css("text-align","right").html("Totals Amount:"+udata.tamount+" Tax: "+udata.ttax+" Total: "+udata.ttotal+ "&nbsp;&nbsp;&nbsp;");
		}
	});
	jQuery("#le_table").jqGrid('navGrid','#le_tablePager',{edit:false,add:false,del:false});

});

</script>
  
</body>
</html>
