<script>
	var counter = 1;
</script>

	<div style="position: absolute; display:block; left: 0; top: 30px; width: 100%; bottom: 0; background: green;">
         B
	 <!--div style="position: absolute; display:block; left: 0; top:150; width: 50%; z-index: 1; background: blue;">
		<div type="text" id="datepicker"></div>
	 </div>
		<div id="map" style="display: block; width: 100%; height: 100%;"></div-->

		<div id="log" style="position: absolute; bottom: 0; width: 100%;">LOG</div>

	</div>


<!-- activate tabs with JavaScript -->
<script>

$(function() {
    $("#log").html("JQuery работает! (" + counter + ")");
	$("#datepicker").datepicker();

	//CreateMap();

});
</script>

