/*@import url("/plugins/jquery-ui-themes-1.8.7/jquery-ui-themes-1.8.7/themes/cupertino/jquery.ui.all.css");*/

@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: local('Yanone Kaffeesatz Regular'),
  local('YanoneKaffeesatz-Regular'),
  url('http://themes.googleusercontent.com/font?kit=YDAoLskQQ5MOAgvHUQCcLdXn3cHbFGWU4T2HrSN6JF4')
  format('truetype');
}

body {
/*	padding: 0 0 0 0;
	margin: 0 0 0 0;
	height: 100%;*/
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	font-size: 75%;
	/*font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";*/
	font-family: "font-file-54189", "Gurkner-Jump", "Tangerine", "Helvetica", "Arial",  "Verdana", "sans-serif";

/*	font-family: "Yanone Kaffeesatz", "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";*/

}


#tabs {
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
	padding: 0 0 0 0;
	/*margin: 0 -10px 0 -2px;*/
	left: 0px;
	/*top: -2px;*/
	/*background-color: lime;*/
}

/*#tabs .ui-tabs-nav {
	margin-left: 24px;
}*/

.ui-tabs .ui-tabs-nav {
	padding: 0;
}

.ui-tabs .ui-tabs-nav li a {
	padding: 3px 8px 3px 8px;
}

.ui-tabs .ui-tabs-nav li a span {
	float: left;
	margin-right: 6px;
}

.ui-tabs-panel {
	/*display:block !important; *//* set up as a block */
	position: absolute; /* needed for footer positioning*/
	/*background-color: yellow !important;*/
	top: 28px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow-y: auto;

	/*margin-top: 10px;
	min-height: 80%;
	height: auto;*/
	/*border: 2px solid black !important;*/
}

.ui-tabs .ui-tabs-panel {
	padding: 0;
}

div.map-container {
	position: absolute;
	width: 100%;
	height: 100%;
}

div.map-control {
	position: absolute;
	right: 50px;
	top: 10px;
}

div.map-control .ui-button-text-only, div.map-control .ui-button-text{
	padding: 1px 8px 1px 8px;
}


table {
	/*width: 98%;
	margin-left: 1%;*/
}

table {
    /*background: #FFF0FF;*/
}

table, th, td {
    /*border: 2px solid black;
    border-collapse: collapse;*/
}

td,th {
	padding-left: 10px;
	padding-right: 10px;
}

td {
}

th {
    /*background: #CFF0FF;*/
}

tr:nth-child(even) {
    background: #F0E8F8;
    /*border: 2px solid black;
    border-collapse: collapse;*/
}

.ui-dialog, #ui-datepicker-div {
	box-shadow: 2px 2px 6px #808080;
	-moz-box-shadow: 2px 2px 6px #808080;
	-webkit-box-shadow: 2px 2px 6px #808080;
}

.ui-button-text-only .ui-button-text {
/*.ui-button-text {*/
	/*padding-top: 0.1em !important;
	padding-bottom: 0.1em !important;*/
	padding: 2px 8px 2px 8px;
}
