<!DOCTYPE html>
<html>
<head>

  <link type="text/css" href="/stylesheets/base.css" rel="stylesheet">
  <link type="text/css" href="/stylesheets/config.css" rel="stylesheet">

  <!--link type="text/css" href="/plugins/jquery-ui-themes-1.8.7/jquery-ui-themes-1.8.7/themes/cupertino/jquery-ui.css" rel="stylesheet"/-->
  <!--link type="text/css" href="/plugins/jquery-ui-themes-1.8.7/jquery-ui-themes-1.8.7/themes/flick/jquery-ui.css" rel="stylesheet" /-->
  <link type="text/css" href="/plugins/jquery-ui-themes-1.8.7/jquery-ui-themes-1.8.7/themes/humanity/jquery-ui.css" rel="stylesheet" />
  <!--link type="text/css" href="/plugins/jquery-ui-themes-1.8.7/jquery-ui-themes-1.8.7/themes/redmond/jquery-ui.css" rel="stylesheet" /-->

  <!--link type="text/css" href="/stylesheets/map.css" rel="stylesheet" /-->

  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <!--script type="text/javascript" src="/plugins/jquery-ui-1.8.7.custom/js/jquery-ui-1.8.7.custom.min.js"></script-->
  <script type="text/javascript" src="/js/jquery-ui.min-1.8.7.js"></script>

  <script>
  
  	var sys_imeis = [];
  	var sys_descs = [];

	function UpdateSysList(){
		$.getJSON("/api/info?acckey={{ account.key }}", function (data) {
			if(data){
				$("#config_sys_list").empty();
				sys_imeis = [];
				sys_descs = [];
				for(var i in data.info.account.systems){
					var imei = data.info.account.systems[i].imei;
					sys_imeis.push(imei);
					sys_descs.push(data.info.account.systems[i].desc);
					$("#config_sys_list").append(
						'<li class="sli" index='+i+'><span class="ui-icon ui-icon-arrowthick-2-n-s mm"></span>' +
						'<span class="bico hl mm" title="Выбрать пиктограмму" index='+i+'>P</span>' +
						'<span class="bconf hl mm" title="Настроить систему" index='+i+'>C</span>' +
						'IMEI:' + imei + ' ' + data.info.account.systems[i].desc +
						'<button class="key bdesc" title="Изменить описание" index='+i+'>...</button>' +
						'</li>'
					);
				}
				$(".key").button();
				$("#config_list").accordion("resize");
				$(".sli").bind('contextmenu', function(e) {
					//alert('Config');
					//$("body").append('<div style="position: absolute; left: 0px; top: 0px; border:1px solid black; width: 100px; height: 200px;">Menu</div>');
					$("#popup-sys").dialog('open');
                  			return false;
        			});
				$(".bdesc").click(function(){
					//alert(this.attributes['imei'].value);
					var i = this.attributes['index'].value;
					$("#sysdesc_imei").html(sys_imeis[i])
					$("#sys_desc").val(sys_descs[i]);
					console.log('Dialog: dialog-sys-desc ' + sys_imeis[i] + ' (' + sys_descs[i] + ')');
					$("#dialog-sys-desc").dialog('open');
				});
			}
		});
	}

	$(document).ready(function() {
		// a workaround for a flaw in the demo system (http://dev.jqueryui.com/ticket/4375), ignore!
		//$("#dialog:ui-dialog").dialog("destroy");

		//$('#switcher').themeswitcher();

		$("button").button();
		$("#button_sys_update").click(UpdateSysList)
		$("#button_sys_add").click(function(){
			//alert('a');
			$("#dialog-addsys").dialog({title: 'aaa'});
		});
		UpdateSysList();

		$("#config_list").accordion({fillSpace: true, collapsible: true});
		$("#config_sys_list").sortable({delay: 500});
		$("#config_sys_list").disableSelection();

		$(window).resize(function(){$("#config_list").accordion("resize");});

		/*
		$("#get_a_path").click(function(){
			var skey = "{{ account.systems.0.key }}";// aglncHMtbWFwczJyIQsSCERCU3lzdGVtIhNzeXNfMzU2ODk1MDM1Mzc2MjQ2DA";
			var from = "01012010000000";
			var to = "31122010000000";
			GetPath(skey, from, to);
		});
		$("#clear_a_path").click(function(){
			var skey = "{{ account.systems.0.key }}";// aglncHMtbWFwczJyIQsSCERCU3lzdGVtIhNzeXNfMzU2ODk1MDM1Mzc2MjQ2DA";
			ClearPath(skey);
		});
		$("#get_a_days").click(function(){
			var skey = "{{ account.systems.0.key }}";// aglncHMtbWFwczJyIQsSCERCU3lzdGVtIhNzeXNfMzU2ODk1MDM1Mzc2MjQ2DA";
			DayList(skey);
		});
		*/

		$("#dialog-addsys").dialog({
			width: 400,
			height: 200,
			modal: true,
			autoOpen: false,
			buttons: {
				'Добавить систему.': function() {
					var imei = document.getElementById('addsys_imei').value;
					//var phone = document.getElementById('addsys_phone').value;
					//$.getJSON("/config?cmd=addsys&imei=" + imei + "&phone=" + phone, function (data) {
					$.getJSON("/api/sys/add?acckey={{ account.key }}&imei=" + imei, function (data) {
						//window.location = "/config";
						//$(this).dialog('close');
						if(data.result){
							result = data.result;
							if(result == "not found"){
								//alert("Система не найдена. возможно система ни разу не выходила на связь с сервером.");
								$("#dialog-addsys-not-found").dialog('open');
							} else if(result == "already"){
								//alert("Вы уже наблюдаете за этой системой");
								$("#dialog-addsys-already").dialog('open');
							} else if(result == "added") {
								UpdateSysList();
								//window.location = "/config";
							}
						}
					});
					$(this).dialog('close');
				},
				'Отменить': function() {
					$(this).dialog('close');
				}
			}
		});

		$("#dialog-sys-desc").dialog({
			width: 500,
			height: 150,
			modal: true,
			autoOpen: false,
			buttons: {
				'Применить изменения.': function() {
					var imei = $("#sysdesc_imei").html(); //document.getElementById('sysdesc_imei').value;
					var desc = document.getElementById('sys_desc').value;
					console.log('Set desc for sys ' + imei + ' -> ' + desc);
					$.getJSON("/api/sys/desc?acckey={{ account.key }}&imei=" + imei + "&desc=" + desc, function (data) {
						if(data.result){
							result = data.result;
							if(result == "disabled"){
								//$("#dialog-need-admin").dialog('open');
							} else if(result == "ok") {
								UpdateSysList();
							}
						}
					});
					$(this).dialog('close');
				},
				'Отменить': function() {
					$(this).dialog('close');
				}
			}
		});



		$("#dialog-addsys-not-found").dialog({modal: true, autoOpen: false, buttons:{Ok: function(){$(this).dialog("close");}}});
		$("#dialog-addsys-already").dialog({modal: true, autoOpen: false, buttons:{Ok: function(){$(this).dialog("close");}}});
		$("#popup-sys").dialog({modal: true, autoOpen: false});
		$("#popup-sys li").button();
	});

	$(document).bind('contextmenu', function(e) {
                  return false;
        });
        $(document).disableSelection();
  </script>

</head>

<body>
	<!--script type="text/javascript"
		src="http://jqueryui.com/themeroller/themeswitchertool/">
	</script-->
<div id="switcher"></div>
	<div id="config_list">
		<h3><a href="#">Наблюдаемые системы</a><h3><div>
			<button id="button_sys_update">Получить список</button>
			<ul id="config_sys_list">
				<li>Пусто</li>
			</ul>
		
			<button id="button_sys_add">Добавить систему</button>

		</div>
		<h3><a href="#">Настройки интерфейса</a><h3><div>
			<button>Установить временную зону</button>
		</div>

	</div>

	<div id="dialog-addsys" title="Добавление системы">
	<form>
		<label>Укажите IMEI добавляемой системы</label>
		<br />
       		<div><textarea id="addsys_imei" name="imei" rows="1" style="width:98%;"></textarea></div>
		<!--br /-->
		<!--label>Или номер SIM-карты в формате +380xxxxxxxxx</label>
		<br /><br />
       		<div><textarea id="addsys_phone" name="phone" rows="1" style="width:98%;"></textarea></div-->
	</form>
	</div>

	<div id="dialog-addsys-not-found" title="Ошибка">
	  <p>
		<span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
		Система не найдена.
	  </p>
	  <p>
		Возможно система ни разу не выходила на связь с сервером.
	  </p>
	</div>

	<div id="dialog-addsys-already" title="Ошибка">
	  <p>
		<span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
		Вы уже наблюдаете за этой системой.
	  </p>
	</div>

	<div id="dialog-sys-desc" title="Администрирование">
	<form>
		<label>Введите описание для системы IMEI:</label><label id="sysdesc_imei">IMEI</label>
		<br />
       		<div><textarea id="sys_desc" name="desc" rows="1" style="width:98%;"></textarea></div>
	</form>
	</div>
	
	<style>
		#popup-sys ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		#popup-sys ul li {
			width: 100%;
			/*background-color: blue;*/
		}
	</style>
	
	<div id="popup-sys" title="Опции">
		<ul>
			<li>Конфигурация системы</li>
			<li>Настройка вида</li>
			<li>Показать на карте</li>
			<li>Отказаться от слежения</li>
		</ul>
	</div>

</body>
</html>
