{% extends "_base.html" %}

{% block head %}
  <link type="text/css" href="/stylesheets/logs.css" rel="stylesheet">

  <link href="/plugins/jquery.jqGrid-3.8.1/css/ui.jqgrid.css" rel="stylesheet" type="text/css"/>
  <!--script type="text/javascript" src="/plugins/jquery.jqGrid-3.8.1/js/i18n/grid.locale-ru.js"></script>
  <script src="/plugins/jquery.jqGrid-3.8.1/js/jquery.jqGrid.min.js"></script-->

  <script>
	(function(){

	var skey = '{{account.systems.0.key }}';

	$(document).ready(function() {

		$("#nav_logs").button("option", "disabled", true);


		UpdateLog();

		$('select').bind('change', function(){
			//console.log($(this).attr('value'));
			skey = $(this).attr('value');
			UpdateLog();

		});

	});

	function UpdateLog() {
		var table = $("#log_table tbody");
		table.empty();

		var url = '/api/logs/get?skey='+skey;
		$.getJSON(url, function (data) {
			//$("#progress").html("Обрабатываем...");
			console.log("getJSON parce");
			if (data.answer && data.answer == 'ok') {
				for(var i in data.logs){
					var d = data.logs[i];
					var row = '<td>'+d.time+'</td><td>'+d.text+'</td><td>'+d.label+'</td>';
					{% if admin %}
					row += '<td class="del_log" title="Удалить сообщение\nБез подтверждения!" key='+d.key+'><span class="ui-icon ui-icon-close"></span></td>'
					{% endif %}
					table.append('<tr>'+row+'</tr>');

				}
			}
			$('td.del_log').click(function(){
				console.log('del:' + $(this).attr('key'));
			});
		});

	}

	function changeSys() {
		skey = $('#my_syslist').attr('value');
		UpdateLog();
	}

	window.updater = function(msg) {
		console.log('Logs:updater');
		console.log(msg);
		if(msg.msg=='addlog' && msg.skey == skey){
			console.log('Logs:updater HURA!!!');
			UpdateLog();
		}
	}


	})();

  </script>

	<style>
		div#log_head {
			position: absolute;
			top: 0px;
			height: 24px;
			overflow: hidden;
		}
		div#log_body {
			position: absolute;
			top: 24px;
			bottom: 0px;
			left: 0px;
			right: 0px;
			overflow-x: hidden;
			overflow-y: auto;
		}

	{% if admin %}
	@-webkit-keyframes pulse {
		0% { -webkit-box-shadow: 0 0 6px rgba(200, 0, 0, 1.0); }
		50% { -webkit-box-shadow: 0 0 60px rgba(200, 0, 0, 1.0); }
		100% { -webkit-box-shadow: 0 0 6px rgba(200, 0, 0, 1.0); }
	}
	table tbody tr td + td + td + td:hover{
		-webkit-animation: pulse 0.2s infinite ease-in-out;
	}
	{% endif %}

	div#container {
		overflow: hidden;
	}


	</style>

{% endblock %}

{% block body %}
	<div id="log_head">
		Cистема: <select id="my_syslist" name="my_syslist" style="width:auto;" on_change="changeSys();">
		{% for sys in account.systems %}
		<option imei="{{ sys.imei }}" value="{{ sys.key }}">{{ sys.desc }}</option>
		{% endfor %}
		</select><!--button id="btn_1">Обновить</button-->
		Канал: {{ token }}
	</div>

	<div id="log_body">
		<table id="log_table">
			<thead>
				<tr><th>Дата и время</th><th>Событие</th><th>Примечание</th></tr>
			</thead>
			<tbody>
				<tr><td>A</td><td>B</td></tr>
				<tr><td>A</td><td>B</td></tr>
				<tr><td>A</td><td>B</td></tr>
			</tbody>
		</table>
	</div>


	
{% endblock %}
