{% extends "_base.html" %}

{% block head %}
  <link type="text/css" href="/stylesheets/reports.css" rel="stylesheet">

  <script type="text/javascript" src="/plugins/jquery-ui-1.8.7/jquery-ui-1.8.7/ui/jquery.ui.datepicker.js"></script>
  <!--script type="text/javascript" src="/js/jquery.ui.datepicker.js"></script-->
  <script type="text/javascript" src="/js/jquery.ui.datepicker-ru.js"></script>


  <script type="text/javascript" src="/js/base.js"></script>
  <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
  <!--script type="text/javascript" src="https://www.google.com/jsapi"></script-->

  <!--script type="text/javascript" src="/js/gmap.js"></script-->
  <script type="text/javascript" src="/js/gmap-min.js"></script>

  <script>
	var geocoder;

	var adrlist = [];

	function getGeocode(adrlist, i, recur) {
		//console.log(adrlist[i]);
		console.log('geoget at ' + i);
		if(adrlist[i].stop) console.log('stop: ' + i);

		geocoder.geocode({'latLng': new google.maps.LatLng(adrlist[i].pos[0], adrlist[i].pos[1]) }, function(results, status) {
			if(adrlist[i].stop) {console.log('stop2: ' + i); return;}
    			if (status == google.maps.GeocoderStatus.OK) {
				var address = geocode_to_addr(results);
				$('#'+adrlist[i].id).html(address);
				delete adrlist[i];
				//console.log(adrlist.some());
				var empty = true;
				for(var j in adrlist) {empty = false; break;}
				if(empty == true){
					$(".control").show();
				}

			} else {
				if(recur) {
					adrlist[i].cb = setTimeout(function(){getGeocode(adrlist, i, recur-1)}, 3000);
				} else {
					console.log('Error geocoding at ' + i + ' with ');
				}
			}
		});

	}

	function genReport(skey, start, stop) {
		//$(".control").hide();
		for(var i in adrlist) { clearInterval(adrlist[i].cb); adrlist[i].stop = true; }
		$( "#report tbody" ).empty();

		url = "/api/report/get?skey="+skey+"&from="+start+"&to="+stop;
		$.getJSON(url, function (data) {
			//$("#progress").html("Обрабатываем...");
			console.log("getJSON parce");
			if (data.answer == 'ok') {
				//ParcePath(data);
				console.log("Show report...");

				$("#total_dist").html(ln_to_km(data.summary.length));
				$("#total_movetime").html(td_to_hms(data.summary.movetime));

				var tbody = $( "#report tbody" );
				//console.log(tbody);
				adrlist = [];
				for(var i in data.report){
					var ad_id = 'ad_' + i;
					var rec = data.report[i];
					var tp;

					switch(rec.type){
						case 'move': {tp = 'Движение</td><td>' + ln_to_km(rec.length); break}
						case 'stop': {
							//var rdiv = $('div');
							//console.log(rdiv);
							if(rec.duration < 5*60) tp = 'Остановка';
							else tp = 'Стоянка';
							adrlist.push({pos: rec.start.pos, id: ad_id, stop: false});

							tp += '</td><td id="' + ad_id + '" title="Дождитесь окончания обновления">' + rec.start.pos;
							break
						}
						default: {tp = 'Неизвестное событие (' + rec.type + ')'}
					}
					
					tbody.append( "<tr>" +
						"<td>" + dt_to_date(start) + "</td>" + 
						"<td>" +
						'	<button class="ctl" style="float: left;"><span class="ui-icon ui-icon-cancel" title="Убрать из отчета информацию о движении"></span></button>' +
						'	<button class="ctl" style="float: left;"><span class="ui-icon ui-icon-locked" title="Оставить в отчете только информацию о движении"></span></button>' +
						'	<button class="ctl" style="float: left;"><span class="ui-icon ui-icon-zoomin" title="Показать этот путь на карте" onclick="showMap(' + rec.start.pos + ',\'Стоянка ' + td_to_hms(rec.duration) + ' с ' + dt_to_time(rec.start.time) + ' по ' + dt_to_time(rec.stop.time) + '\');"></span></button>' +
						tp + "</td>" + 
						"<td>" + dt_to_time(rec.start.time) + ' - ' + dt_to_time(rec.stop.time) + "</td>" +
						"<td>" + td_to_hms(rec.duration) + " ( " + td_to_time(rec.duration) + ")</td>" +
					"</tr>" );
					
				}
				console.log(adrlist);
				for(i in adrlist){
					if(i==0){
						$(".control").hide();
					}
					//console.log(i);
					(function(i) {
						adrlist[i].cb = setTimeout(function(){getGeocode(adrlist, i, 10)}, 1000);
						//getGeocode(adrlist, i, 10);
					})(i);
				}

				$('.ctl').button(/*{ disabled: true }*/);
			}
		});

		

	}
	function purgeReport() {
		$( "#report tbody" ).empty();
	}

	function showMap(lat, lon, title) {
		//$(this).css('border','2px solid green');
		//map = $("#map_div");
		//map.css({'left': me.pageX+10, 'top': me.pageY+10});
		var map_div = $('#map_preview');
		if(map_div.length==0){
			div = $('body')
			.append('<div id="map_overlay" class="ui-widget-overlay"></div>')
			.append('<div id="map_preview" style="">Тут будет карта</div>');
			var map_div = $('#map_preview');
			$('#map_preview')
			.append('<div id="map"></div>')
			.append('<div id="map_close" style="position: absolute; top: -10px; left: 50%; margin-left: -20px;"><span class="ui-icon ui-icon-close"></span></div>');
			$('#map').gmap({
				pos: new google.maps.LatLng(lat, lon),
				zoom: 15,
				marker: 'center',
				markertitme: title
			});
			$('#map_close').button().click(function(){
				$('#map').gmap('destroy');
				$('#map_preview').remove();
				$('#map_overlay').remove();
			});

			/*
			var mapOptions = {
				center: new google.maps.LatLng(48.5000, 34.599),
				mapTypeId: google.maps.MapTypeId.ROADMAP,
				//mapTypeControl: false,
				disableDoubleClickZoom: true,
				draggableCursor: "default",
				zoom: 10,
			};
     
			map = new google.maps.Map(document.getElementById("map"), mapOptions);
			*/
		}
		console.log(map_div);
	} 


	$(function(){
		geocoder = new google.maps.Geocoder();
		$("#nav_reports").button("option", "disabled", true);

		$('.control').button();

		$.datepicker.setDefaults( $.datepicker.regional[ "ru" ] );
		/*$( "#datepicker" ).datepicker($.datepicker.regional[ "ru" ], {altField: "#alternate",
			altFormat: "DD, d MM, yy"});*/
		$( "#datepicker" ).datepicker({altField: "#alternate",
			altFormat: "DD, d MM, yy",
			onSelect: function(dateText, inst) {
				//console.log(inst);
				console.log(dateText);
				var start = date_to_url(dateText) + '000000'; //inst.currentYear, inst.currentMonth, inst.currentDay, '000000');
				var stop = date_to_url(dateText) + '235959'; //inst.currentYear, inst.currentMonth, inst.currentDay, '235959');
				genReport($('#my_syslist').attr('value'), start, stop);
				//console.log(dateText);
				//console.log(inst);
			}
		});

		$('#control_day').click(function(){
			//alert('bu');
		});

		$('#total tbody tr td').bind('click', function(me){
			console.log(me);
			//showMap();
		});
	});
  </script>

  <style>
	.ctl .ui-button-text {
		padding: 0px 0px 0px 0px !important;
	}
	.ctl{
		margin: 0px 1px 0px 0px;
	}

  </style>

{% endblock %}

{% block body %}
	Cистема: <select id="my_syslist" name="my_syslist" style="width:auto;" onchange="purgeReport();">
		{% for sys in account.systems %}
		<option imei="{{ sys.imei }}" value="{{ sys.key }}">{{ sys.desc }}</option>
		{% endfor %}
	</select>

	<div>

	<button class="control" id="control_day">Отчет за сутки: <input type="text" id="datepicker" size="10"/><input type="text" id="alternate" size="30"/></button>
	<button class="control" id="control_week">Отчет за неделю</button>
	<button class="control">Отчет за интервал времени</button>


	<h3>Комплексный отчет:</h3>
	<table id="report" class="ui-widget ui-widget-content">
		<thead>
			<tr class="ui-widget-header ">
				<th>Дата</th>
				<th>Действие</th>
				<th>Примечание</th>
				<th>Период</th>
				<th>Время</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>

	<h3>Всего:</h3>

	<table id="total" class="ui-widget ui-widget-content">
		<thead>
			<tr class="ui-widget-header ">
				<th>Дата</th>
				<th>Контролируемые параметры</th>
				<th>Результат</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>26.07.2010</td>
				<td>Пройденная дистанция</td>
				<td id="total_dist">-</td>
			</tr>
			<tr>
				<td>26.07.2010</td>
				<td>Общее время в пути</td>
				<td id="total_movetime">-</td>
			</tr>
			<tr>
				<td>26.07.2010</td>
				<td>Средняя скорость движения</td>
				<td id="total_av_speed">-</td>
			</tr>
			<!--tr>
				<td>26.07.2010</td>
				<td>Средняя скорость с учетом остановок</td>
				<td>-</td>
			</tr-->
			<tr>
				<td>26.07.2010</td>
				<td>Общее время остановок</td>
				<td>-</td>
			</tr>
			<tr>
				<td>26.07.2010</td>
				<td>Общее время стоянок</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>

	<button title="Загрузить отчет в формате CSV">Экспорт в Excel</button><br/>

	</div>
{% endblock %}
