<html>
<head>
  <style>
	.ui-tabs .ui-tabs-panel {
		padding: 0;
	}

	div#customcss {
		background-color: grey;
	}
  </style>
  <script>
	$(document).ready(function() {
		console.log('Загрузка закладки. Отчеты.');

		$('#testmap').gmap({
			pos: new google.maps.LatLng(35.5, 48.5),
			zoom: 15,
			marker: 'center',
			markertitme: 'aaa'
		});

	});
  </script>
  
  <style>
   div#testmap {
   	position: absolute;
   	width: 700px;
   	height: 250px;
   	background-color: green;
   }
  </style>
</head>
<body>

Отчеты

<div id="customcss"> Локальный id и стиль оформления </div>

<div id="testmap"></div>

</body>
