
<div id="main_log">LOG</div>
<div id="colorpickerHolder">Цвет трека: <div style="width: 16px; height: 16px; border: 2px solid black; display: inline; position: absolute;"></div></div>
  

  <script>

$(function() {
	var counter = 1;
    $("#main_log").html("JQuery работает! (" + counter + ")");
	$("#datepicker").datepicker();

	$('#colorpickerHolder').ColorPicker({
		color: '#0000ff',
		onShow: function (colpkr) {
			$(colpkr).fadeIn(100);
			return false;
		},
		onHide: function (colpkr) {
			$(colpkr).fadeOut(100);
			return false;
		},
		onChange: function (hsb, hex, rgb) {
			$('#colorpickerHolder div').css('backgroundColor', '#' + hex);
		}
	});
	console.log("Execute script.");


});


	function sayHi() {
		var newHeader = goog.dom.createDom('h1', {'style': 'background-color:#EEE'},
			'Hello world!');
		goog.dom.appendChild(document.body, newHeader);
	}
	sayHi();

  </script>
