{% extends "nbase2.html" %}

{% block head %}
<script src='/_ah/channel/jsapi'></script>
<style type="text/css">
    /*#draggable { width: 100px; height: 70px; background: silver; }*/
	#tabs {
	}

	.ui-tabs-panel {
	}

</style>
{% endblock %}

{% block javainit %}
	//$("#tabs").tabs({effect: 'ajax', cache: true });
	//$("#draggable").draggable();
{% endblock %}


{% block body %}

<!-- tabs -->
<!--div-->
<!--div id="tabs">
  <ul>
    <li><a href="/s/TabMain">Главная</a></li>
    <li><a href="/s/TabMap">Карта</a></li>
    <li><a href="/s/TabLogs">Отчеты</a></li>
    <li><a href="/s/TabConfig">Настройка</a></li>
    <li><a href="/s/TabHelp">Помощь</a></li>
  </ul>

  <div style="position: absolute; bottom: 0px;background-color: red;">Сообщение из канала:<div id="channel_msg" style="display:inline; border:1px solid blue;">EMPTY</div></div>
</div-->

<!--/div-->

Ok

<script>
// What is $(document).ready ? See: http://flowplayer.org/tools/documentation/basics.html#document_ready
$(document).ready(function() {

});
</script>

{% endblock %}
